body {
  background-images: url('../img/410px-Ashoka_Chakra_1.png');
  background-repeat:no-repeat;
  background-position:center top 110px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.navbar-fixed-top {
  background: #ff9934;
}

.navbar-fixed-bottom {
  background-color: #118806;
}

.alert-info ,.alert-danger {
  list-style: none;
}
#main {
  color :red;
}
#resource a{
  color :green;
}
